.picture-form--container {
  width: 100%;
  height: 300px;
  border: 3px dashed #0ab1ba;
}

.frame-image-sender {
  width: 100%;
  height: 100%;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.frame-image-sender label {
  cursor: pointer;
}

.frame-image-sender label > span {
  font-weight: 700;
}
.preview-image--container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.preview-image--container > img {
  height: 75%;
}

.preview-image--container > img:hover {
  cursor: pointer;
}
